<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Elektroniczny Dzienniczek</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Dzienniczek</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown" sec:authorize="hasRole('STUDENT')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStudent" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panel Ucznia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownStudent">
                    <a class="dropdown-item" th:href="@{/uczen/oceny}">Oceny</a>
                    <a class="dropdown-item" th:href="@{/uczen/szczegoly-uzytkownika}">Szczegóły Użytkownika</a>
                </div>
            </li>
            <li class="nav-item active dropdown" sec:authorize="hasRole('TEACHER')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTeacher" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panel Nauczyciela
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTeacher">
                    <a class="dropdown-item" th:href="@{/nauczyciel/wybierz-klase}">Dodaj oceny</a>
                    <a class="dropdown-item" th:href="@{/nauczyciel/szczegoly-uzytkownika}">Szczegóły Użytkownika</a>
                </div>
            </li>
            <li class="nav-item active dropdown" sec:authorize="hasAnyRole('MODERATOR','ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownModerator" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panel Moderatora
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownModerator">
                    <a class="dropdown-item" th:href="@{/moderator/lista-uczniow/{pageId}(pageId=${0})}">Lista uczniów
                        (zmiana klasy)</a>
                </div>
            </li>
            <li class="nav-item active dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panel Administracyjny
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                    <a class="dropdown-item" th:href="@{/admin/lista-uzytkownikow/{pageId}(pageId=${0})}">Lista
                        użytkowników</a>
                    <a class="dropdown-item" th:href="@{/admin/dodaj-przedmiot}">Dodaj Przedmiot</a>
                    <a class="dropdown-item" th:href="@{/admin/utworz-klase}">Stwórz klasę</a>
                </div>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>


<!--   ADMIN   -->


<div sec:authorize="hasRole('ADMIN')" class="container"
     style="text-align: center; position:relative; top: 20px; left: 200px">
    <div class="row">
        <div class="col-xl-6 col-xl-offset-3">
            <h4>Funkcje administratora</h4>
            <hr>
            <a class="btn btn-dark" th:href="@{/admin/lista-uzytkownikow/0}" style="width: 170px">Lista Użytkowników</a>
            <a class="btn btn-dark" th:href="@{/admin/utworz-klase}" style="width: 170px">Stwórz nową klasę</a>
            <a class="btn btn-dark" th:href="@{/admin/dodaj-przedmiot}" style="width: 170px">Dodaj Przedmiot</a>
            <br><br>
            <h4>Funkcje moderatora</h4>
            <hr>
            <a class="btn btn-dark" th:href="@{/moderator/lista-uczniow/0}" style="width: 250px">Lista Uczniów (zmiana
                klasy)</a>
        </div>
    </div>
</div>


<!--   MODERATOR   -->


<div sec:authorize="hasRole('MODERATOR')" class="container"
     style="text-align: center; position:relative; top: 20px; left: 200px">
    <div class="row">
        <div class="col-xl-6 col-xl-offset-3">
            <h4>Funkcje moderatora</h4>
            <hr>
            <a class="btn btn-dark" th:href="@{/moderator/lista-uczniow/0}" style="width: 250px">Lista Uczniów (zmiana
                klasy)</a>
        </div>
    </div>
</div>


<!--  Teacher  -->


<div sec:authorize="hasRole('TEACHER')" class="container"
     style="text-align: center; position:relative; top: 20px; left: 200px">
    <div class="row">
        <div class="col-xl-6 col-xl-offset-3">
            <h4>Funkcje Nauczyciela</h4>
            <hr>
            <a class="btn btn-dark" th:href="@{/nauczyciel/wybierz-klase}" style="width: 200px">Dodaj Oceny</a>
            <a class="btn btn-dark" th:href="@{/nauczyciel/szczegoly-uzytkownika}" style="width: 200px">Szczegóły
                użytkownika</a>
        </div>
    </div>
</div>


<!--  Student  -->


<div sec:authorize="hasRole('STUDENT')" class="container"
     style="text-align: center; position:relative; top: 20px; left: 200px">
    <div class="row">
        <div class="col-xl-6 col-xl-offset-3">
            <h4>Funkcje Ucznia</h4>
            <hr>
            <a class="btn btn-dark" th:href="@{/uczen/oceny}" style="width: 200px">Oceny</a>
            <a class="btn btn-dark" th:href="@{/uczen/szczegoly-uzytkownika}" style="width: 200px">Szczegóły
                użytkownika</a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>