<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/CenterFormStyles.css}">
    <title>Zmień Klasę</title>
</head>
<body>

<div id="page" class="container-12">

    <nav role="navigation" class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">Dzienniczek</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active dropdown" sec:authorize="hasAnyRole('MODERATOR','ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownModerator" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Panel Moderatora
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownModerator">
                        <a class="dropdown-item" th:href="@{/moderator/lista-uczniow/0}">Lista uczniów
                            (zmiana klasy)</a>
                    </div>
                </li>

                <li class="nav-item active dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Panel Administracyjny
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item" th:href="@{/admin/lista-uzytkownikow/0}">Lista
                            użytkowników</a>
                        <a class="dropdown-item" th:href="@{/admin/dodaj-przedmiot}">Dodaj Przedmiot</a>
                        <a class="dropdown-item" th:href="@{/admin/utworz-klase}">Stwórz klasę</a>
                    </div>
                </li>

                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>

            </ul>
        </div>
    </nav>

    <main role="main">

        <h1>Zmień klasę</h1>

        <form th:action="@{/moderator/zmien-klase/{id}(id=${user.id})}" method="post">

            <div class="row no-gutters justify-content-center">
                <div class="form-group col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                    <label for="schoolClass" class="col-form-label">Wybierz klasę:</label>
                    <select id="schoolClass" name="schoolClass.name" class="form-control">
                        <option th:if="${!user.getSchoolClassName().equals('Brak')}"
                                th:value="${userSchoolClass.name}"
                                th:text="${userSchoolClass.getSchoolClassNameAndYear()}"></option>
                        <option
                                th:each="schoolClass : ${schoolClasses}"
                                th:value="${schoolClass.name}"
                                th:text="${schoolClass.getSchoolClassNameAndYear()}"></option>
                    </select>
                </div>
            </div> <!-- End of row -->

            <div class="row no-gutters justify-content-center">
                <div class="form-group col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                    <button type="submit" class="form-control btn btn-primary">
                        Potwierdź
                    </button>
                </div>
            </div> <!-- End of row -->

            <span class="row no-gutters justify-content-center">
                <i th:text="${'* Aktualnie wybrany uczeń : ' + user.firstName + ' ' + user.lastName}"></i>
            </span>

        </form>

    </main>

</div>  <!-- End of container/page -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>